@import '../tokens/spacing.scss';
@import '../tokens/colors.scss';
@import '../tokens/typo.scss';

.AboutMe {

  &__content {
    padding-inline-start: $space-2;
    padding-inline-end:   $space-2;
  }

  &__title {
    font-size: $smallTextMobile;
    text-transform: uppercase;
  }

  hr {
    margin-block-start: $space;
    margin-block-end:   $space;
    border-color: $black;
    inline-size: 20rem;
  }

  &__subtitle {
    margin-block-end: $l-space-4;
    font-size: $h2Mobile;
  }

  &__details {
    margin-block-start: $l-space-5;
  }
}

@media screen and (min-width: 768px) {
  .AboutMe {

    &__content {
      padding-inline-start: $space-4;
      padding-inline-end:   $space-4;
    }

    &__title {
      font-size: $smallText;
    }

    &__subtitle {
      inline-size: 100%;
      max-inline-size: 51rem;
      font-size: $h2;
    }
  }
}

@media screen and (min-width: 1024px) {
  .AboutMe {

    & > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      inline-size: 100%;
      max-inline-size: 192rem;
      margin: 0 auto;

      picture {
        inline-size: 52%;
      }

      article {
        inline-size: 48%;
      }
    }
  }
}

@media screen and (min-width: 1536px) {
  .AboutMe {
    &__image {
      block-size: 36rem;
      object-fit: cover;
      box-sizing: content-box;
    }
  }
}