@import '../tokens/spacing.scss';
@import '../tokens/colors.scss';
@import '../tokens/typo.scss';

.Clients {
  padding-block-end: $l-space-5;

  &__content {
    padding-inline-start: $space-2;
    padding-inline-end:   $space-2;

    & > div:last-child > div {
      display: grid;
      grid-template-columns: repeat(2, minmax(10rem, 16.6rem));
      grid-column-gap: $space;
      margin-block-end: $space-2;
    }
  }

  &__title {
    margin-block-end: $space;
    font-size: $smallTextMobile;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-block-end: $space-3;
    font-size: $h2Mobile;
  }

  &__brands {
    max-inline-size: 16.6rem;
  }
}

@media screen and (min-width: 768px) {
  .Clients {

    &__content {
      padding-inline-start: $space-4;
      padding-inline-end:   $space-4;
    }

    &__title {
      font-size: $smallText;
    }

    &__subtitle {
      inline-size: 100%;
      max-inline-size: 51rem;
      font-size: $h2;
    }

    &__description {
      inline-size: 100%;
      max-inline-size: 51rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Clients {
    padding-block-end: $l-space-6;

    &__content {
      display: flex;

      & > div:first-child {
        inline-size: 50%;
      }

      & > div:last-child {
        display: flex;
        flex-direction: column;
        inline-size: 50%;

        div {
          order: 2;
          margin-block-end: 0;
        }
      }
    }

    &__subtitle {
      max-inline-size: 38rem;
    }

    &__description {
      order: 1;
      margin-block-end: $space-2;
    }
  }
}