@import '../tokens/spacing.scss';
@import '../tokens/typo.scss';
@import '../tokens/colors.scss';

.DetailsAboutMe {
  padding-block-start: $l-space-5;
  padding-block-end: $l-space-5;
  background-color: $white;

  &__content {
    padding-inline-start: $space-2;
    padding-inline-end:   $space-2;
  }

  &__title {
    margin-block-end: $space;
    font-size: $smallTextMobile;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-block-end: $space;
    font-size: $h2Mobile;
  }

  &__description {
    margin-block-end: $space-3;
  }
}