@import '../tokens/spacing.scss';
@import '../tokens/typo.scss';
@import '../tokens/colors.scss';

.DetailsAboutMe {
  padding-block-start: $l-space-5;
  padding-block-end: $l-space-5;
  background-color: $white;

  &__content {
    padding-inline-start: $space-2;
    padding-inline-end:   $space-2;
  }

  &__title {
    margin-block-end: $space;
    font-size: $smallTextMobile;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-block-end: $space;
    font-size: $h2Mobile;
  }

  &__description {
    margin-block-end: $space-3;
  }
}

@media screen and (min-width: 768px) {
  .DetailsAboutMe {

    &__content {
      padding-inline-start: $space-4;
      padding-inline-end:   $space-4;
    }

    &__title {
      font-size: $smallText;
    }

    &__subtitle {
      inline-size: 100%;
      max-inline-size: 51rem;
      font-size: $h2;
    }

    &__description {
      inline-size: 100%;
      max-inline-size: 51rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .DetailsAboutMe {
    inline-size: 100%;
    padding-block-start: $l-space-6;
    padding-block-end:   $l-space-6;

    &__content {
      max-inline-size: 46rem;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1536px) {
  .DetailsAboutMe {

    &__content {
      padding-inline-start: 12.8rem;
      box-sizing: content-box;
      margin: 0;
    }
  }
}