@import '../tokens/spacing.scss';

.Hero {
  block-size: 100vh;
  padding-block-start: 8.3rem;
  background-image: url('https://res.cloudinary.com/dy1xcx7kw/image/upload/v1617262463/portafolio/header-mobile_2x_bbpw3i.jpg');
  background-size: cover;
  background-position: center;

  &__content {
    padding-inline-start: $space-2;
    padding-inline-end:   $space-2;
  }

  &__title {
    margin-block-end: $space-2;
  }
}

@media screen and (min-width: 768px) {
  .Hero {
    padding-block-start: 12.5rem;
    background-image: url('https://res.cloudinary.com/dy1xcx7kw/image/upload/v1617410968/portafolio/header-tablet_2x_ukzpe3.jpg');

    &__content {
      padding-inline-start: $space-4;
      padding-inline-end:   $space-4;
    }

    &__title {
      max-inline-size: 53rem;
      margin-block-end: $space-3;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Hero {
    display: flex;
    align-items: center;
    padding-block-start: 0;
    background-image: url('https://res.cloudinary.com/dy1xcx7kw/image/upload/v1617411297/portafolio/header_az6s4u.jpg');

    &__content {
      justify-self: flex-start;
    }

    &__title {
      max-inline-size: 53rem;
      margin-block-end: $space-4;
    }
  }
}