@import '../tokens/spacing.scss';
@import '../tokens/colors.scss';
@import '../tokens/typo.scss';

.Statistics {

  &__content {
    position: relative;
  }

  &__image {
    block-size: 45.5rem;
    object-fit: cover;
  }

  &__metrics {
    position: absolute;
    bottom: -.1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    inline-size: 100%;

    article {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      block-size: 12.6rem;
      text-align: center;

      span {
        display: block;
        font-size: $h1Mobile;
        font-weight: $bold;
      }

      p {
        font-size: $smallTextMobile;
      }
    }
  }

  &__years {
    color: $white;
    background-color: $primary;
  }

  &__projects {
    background-color: $backgroundGray;
  }

  &__hours {
    background-color: $white;
  }
}

@media screen and (min-width: 768px) {
  .Statistics {

    &__image {
      block-size: 36rem;
    }

    &__metrics {
      bottom: -8rem;
      padding-inline-start: $space-4;
      padding-inline-end:   $space-4;

      article {
        block-size: 16.8rem;

        span {
          font-size: $h1;
        }

        p {
          font-size: $smallText;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .Statistics {
    inline-size: 100%;
    max-inline-size: 144rem;
    margin: 0 auto;

    &__image {
      block-size: 48rem;
    }

    &__metrics {
      right:  0;
      bottom: 0;
      inline-size: 60rem;
      padding-inline-start: 0;
      padding-inline-end:   0;
    }
  }
}