//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

// Primary
$primary: #1a3263;

// Basic Colors
$white: #ffffff;
$black: #081421;
$gray: #d9dbdd;
$grayDark: #5c646c;

// Background
$backgroundGray: #f3f3f4;

// Surface
$surface: #061b3a;