//  ███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝
//  ███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
//  ╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
//  ███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
//  ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝
//

// Component scale
$spaceHalf: .4rem;
$space: .8rem;
$space-2: 1.6rem;
$space-3: 2.4rem;
$space-4: 3.2rem;
$space-5: 4rem;

// Layout Scale
$l-scale: 1.6rem;
$l-scale-2: 2.4rem;
$l-scale-3: 3.2rem;
$l-scale-4: 4.8rem;
$l-scale-5: 6.4rem;
$l-scale-6: 9.6rem;
$l-scale-7: 16rem;

//Border radius
$borderRadius: .4rem;