
//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//

$font: 'Poppins', system-ui;

// Typos
$h1: 6rem;
$h2: 3.6rem;
$h3: 3rem;
$p: 2rem;
$button: 1.6rem;
$smallText: 1.6rem;

// Typos mobile
$h1Mobile: 3.6rem;
$h2Mobile: 3rem;
$h3Mobile: 2.4rem;
$pMobile: 1.6rem;
$buttonMobile: 1.6rem;
$smallTextMobile: 1.4rem;

// Typo bolds
$regular: 400;
$bold: 700;