@import './foundations/colors.scss';
@import './foundations/fonts.scss';
@import './foundations/spacing.scss';
@import './helpers.scss';
@import './vendors/slick-theme.scss';
@import './vendors/slick.scss';